.Furniutr{
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 1px;
    text-align: left;
    color: #282A30;

}

.barcha {
    font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;
text-align: center;
color: #282A30;
}
